body {
    background-image: linear-gradient(to right, #092572, #90afd8);
    font-family: 'Roboto';
    margin-top: 0px;
    margin-bottom: 100px;
  }
  
  .div1 {
    -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59); 
    box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
    display: block;
    margin-left: auto;
    margin-right:auto;
    max-width: 800px;
    margin-top: 0px;
    background-color: #e9e9e7ec;
    padding: 15px;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 50px;
    text-align:center
  }
  
  h2 {
    font-size: 20px;
  }
  
  header {
    background-image: url('https://wallpapertag.com/wallpaper/full/4/3/2/465141-beautiful-anime-wallpaper-1920x1200-for-4k.jpg');
    background-size:cover;
    height: 200px;
    border-radius: 5px;
  
  }
  
  .div2 {
    padding: 15px;
    border-radius: 5px;
    /* propriedade visual: valor   */
    background-color: #bac3d6;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(45%);
    border: 8px solid #e9e9e7;
  }

  .Rights {
    
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    transform: translateY(300%);
  }
  
  .linha {
    transform: translateY(100%);
  }
  .linha2 {

    transform: translatex(-2%);

  }

